{% extends 'base.html' %}
{% load static humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/create_sale.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <h1 class="text-center">Nueva venta</h1>
  <div class="container search-container">
    <div class="row item-table-title">
      <div class="col">
        Buscar Producto
      </div>
    </div>
    <div class="row">
        <div class="col-1">
          <label class="search-label" for="product-search">Nombre:</label>
        </div>
      <div class="col-11">
        <input type="text" class="form-control" id="product-search" aria-describedby="search-help" placeholder="Labial mate...">
        <small id="search-help" class="form-text text-muted">Ingresa el nombre del producto</small>
      </div>
    </div>
  </div>
  <br>
  <div class="container items-container js-products-table">
    <div class="row item-table-title">
      <div class="col-6">
        Nombre
      </div>
      <div class="col-2">
        Precio de venta
      </div>
      <div class="col-2">
        Cantidad
      </div>
      <div class="col-2">
        Acciones
      </div>
    </div>

    {% for product in products %}
      <div class="row product-table-item js-product-item" data-id="{{ product.id }}" data-purchase-price="{{ product.purchase_price|stringformat:"d" }}">
        <div class="col-6 product-name js-product-name">{{ product.name }}</div>
        <div class="col-2 product-price">
          <input class="item-price-input js-product-price" type="number" min="1" value="{{ product.sale_price|stringformat:"d" }}"></input>
        </div>
        <div class="col-2 item-quantity">
          <input class="item-quantity-input js-product-quantity" type="number" min="1" value="1"></input>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-outline-primary btn-add-product js-add-product">Agregar</button>
        </div>
      </div>
    {% endfor %}
  </div>
  <br>
  <h2>Venta actual</h2>
  <div class="container items-container js-products-table">
    <div class="row item-table-title">
      <div class="col-6">
        Nombre
      </div>
      <div class="col-2">
        Precio de venta
      </div>
      <div class="col-2">
        Cantidad
      </div>
      <div class="col-2">
        Acciones
      </div>
    </div>
    <div class="row js-hide-product">
      <div class="js-product-id" hidden></div>
      <div class="js-product-purchase-price" hidden></div>
      <div class="col-6 product-name js-product-name"></div>
      <div class="col-2 product-price js-product-sale-price"></div>
      <div class="col-2 product-quantity js-product-quantity"></div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-danger btn-remove-product js-remove-product">eliminar</button>
      </div>
    </div>
  </div>
  <div class="btn-create-sale">
    <button class="btn btn-success js-create-sale" type="button" data-url="{% url 'sales:create_sale_ajax' %}">Regitrar venta</button>
  </div>

</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/create_sale.js' %}"></script>
{% endblock %}
